<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Miletec_Sales_and_Inventory.Properties.Settings.MiletecConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Miletec;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Miletec_Sales_and_Inventory.Properties.Settings.MiletecConnectionString1"
            connectionString="Data Source=asus\sqlexpresspro;Initial Catalog=Miletec;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Miletec_Sales_and_Inventory.Properties.Settings.MiletecConnectionString2"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=Miletec;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>